/** CODE COULEUR 
vert : 28542a
marron : 63472b
blanc : e2ffad
*/

@font-face {
    font-family: 'Exo-Thin';
    src: url('../fonts/Exo-Thin.ttf')
}

h2 {
    font-family: 'Exo-Thin';
}

/* Page tutoriel élément particuliers */

.elementLanca {
    position: fixed;
    display: none;
    left: 60em;
    top: 25em;
    background: rgb(68, 68, 68, 0.2);
    border: inset 2px #444;
    border-radius: 50%;
    height: 10em;
    width: 10em;
    box-shadow: 0 0 25px #444;
}

.imageLanca {
    max-height: 7em;
    max-width: 7em;
    object-fit: contain;
    margin: 2em;
}

/* Permet de rendre une image entièrement noire */

.locked {
    filter: brightness(00%);
    -webkit-filter: brightness(00%);
    -moz-filter: brightness(00%);
    -o-filter: brightness(00%);
    -ms-filter: brightness(00%);
}


.locked:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}


/* DINO PAGE TUTO CONCEPT */

.newDino {
    position: fixed;
    left: 30%;
    top: 19em;
}

.dinoBubbleN {
    position: fixed;
    left: 35em;
    width: 30em;
    max-height: 20em;
}

.speech-bubbleN {
    position: fixed;
    background: rgba(40, 84, 42, 0.8);
    border-radius: .4em;
    min-height: 5.85em;
    padding: 0.5xem;
    min-width: 20em;
    max-width: 60em;
}

.speech-bubbleN:after {
    content: '';
    position: absolute;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: rgba(40, 84, 42, 0.8);
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.speechN {
    color: #f2f2f2;
    margin: 1.5em;
}

#fleche-suiv {
    color: #444;
    position: absolute;
    right: 0;
    margin: 60px 10px 0px 0px;
    padding-bottom: 2px;
    animation: arrowK 1s infinite;
    transition: all 0.5s ease-in-out;
}

@keyframes arrowK {
    0% {
        border-right: 1px solid #444;
    }
    50% {
        border-right: 1px solid transparent;
    }
    100% {
        border-right: 1px solid #444;
    }
}

#fleche-suiv:hover {
    color: #f2f2f2;
    font-size: 16px;
    animation-play-state: paused;
    cursor: pointer
}

/* DINO SUR LA PLUPART DES PAGES */

.dino {
    position: fixed;
    bottom: 0;
    left: 5em;
}

.dino-message {
    display: none;
}

.speech-bubble {
    position: fixed;
    bottom: 7em;
    left: 20em;
    background: rgba(68, 68, 68, 0.3);
    border-radius: .4em;
    min-height: 4em;
    padding: 0.5em;
    min-width: 20em;
    max-width: 70%;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 1px;
    top: 50%;
    width: 0;
    height: 0;
    border: 1.875em solid transparent;
    border-right-color: rgba(68, 68, 68, 0.3);
    border-left: 0;
    border-top: 0;
    margin-top: -0.937em;
    margin-left: -1.875em;
}

.bulle-dino {
    text-align: justify;
    margin: 0.6em;
}

#inscription-link {
    line-height: 50px;
    color: #f2f2f2 !important;
    text-decoration: none !important;
    transition: all ease-in-out 0.5s !important;
}

#inscription-link:hover {
    color: #18913a !important;
    text-decoration: underline !important;
}

.bg-light {
    background-color: #f1f1f1;
}

.logout-link {
    color: #444 !important
}

.navbarLanco {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    margin: 0.6em 0 0 2em;
    font-size: 36px;
    color: #28542a
}

.hexagon {
    position: relative;
    width: 90px;
    height: 51.96px;
    margin: 25.98px 0;
    background-image: url("../images/codex.png");
    background-size: auto 96.9948px;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    border-left: solid 3px #333333;
    border-right: solid 3px #333333;
    transition: all 0.5s ease-in-out;
}

.hexagon:hover {
    box-shadow: 0 0 25px 5px #18913a;
}

.hexcriture:hover {
    text-shadow: 0 0 5px #18913a;
}

.hexTop,
.hexBottom {
    position: absolute;
    z-index: 1;
    width: 63.64px;
    height: 63.64px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 10.18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

/*counter transform the bg image on the caps*/

.hexTop:after,
.hexBottom:after {
    content: "";
    position: absolute;
    width: 84.0000px;
    height: 48.49742261192856px;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-24.2487px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-24.2487px);
    transform: rotate(45deg) scaleY(1.7321) translateY(-24.2487px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.hexTop {
    top: -31.8198px;
    border-top: solid 4.2426px #333333;
    border-right: solid 4.2426px #333333;
}

.hexTop:after {
    background-position: center top;
}

.hexBottom {
    bottom: -31.8198px;
    border-bottom: solid 4.2426px #333333;
    border-left: solid 4.2426px #333333;
}

.hexBottom:after {
    background-position: center bottom;
}

.hexagon:after {
    content: "";
    position: absolute;
    top: 1.7321px;
    left: 0;
    width: 84.0000px;
    height: 48.4974px;
    z-index: 2;
    background: inherit;
}

.hexcriture {
    margin-left: 3em;
    font-family: 'Exo-Thin';
    letter-spacing: 12px;
    transition: all 0.5s ease-in-out
}

.main-content {
    padding-top: 13em;
}

.conteneur-central {
    box-shadow: 2px 3px 5px 1px black;
    color: #f3f3f3;
    text-align: center;
    margin: auto;
    width: 40em;
    border: solid 0.1em #444;
    border-radius: 5px;
    background: rgb(63, 63, 63);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(63, 63, 63, 1) 0%, rgba(48, 48, 48, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(63, 63, 63, 1) 0%, rgba(48, 48, 48, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(63, 63, 63, 1) 0%, rgba(48, 48, 48, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#303030', GradientType=1);
}

.conteneur-central input {
    margin-top: 4px;
    background: rgba(210, 210, 210, 0.1);
    border-radius: 8px !important;
    transition: all 0.3s;
}

.conteneur-central button {
    margin-top: 18px;
    color: #444;
    transition: 0.4s ease-in-out;
}

.conteneur-central button:hover {
    background: #18913a;
    color: #f2f2f2
}

.form-signin {
    width: 60%;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-control:focus {
    border-color: #18913a !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(24, 145, 58, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(24, 145, 58, .6) !important;
}

.go-back-arrow {
    line-height: 3em;
    margin-bottom: 0.3em;
    vertical-align: text-top;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    color: #f2f2f2;
    border-color: #18913a !important;
}

.form-control:hover,
.form-control:focus {
    background: rgba(210, 210, 210, 0.2)
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2em
}

.footer-component {
    text-align: right;
    float: right;
}

.main-menu {
    list-style: none
}

.conteneur-menu {
    width: 30em;
    margin: auto;
    text-align: center;
}

.menu-btn {
    font-size: 28px;
    font-family: "Exo-Thin";
    color: #444 !important;
    border: 1px;
    width: 100%;
}

.sim-button {
    line-height: 60px;
    cursor: pointer;
}

a.sim-button:hover {
    text-decoration: none;
}

.button28 {
    color: rgba(68, 68, 68, 1);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

a .button28 {
    color: rgba(255, 255, 255, 1);
    text-decoration: none !important;
    display: block;
}

.button28::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(68, 68, 68, 0.5);
    border-bottom-color: rgba(68, 68, 68, 0.5);
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);

}

.button28 a:hover {
    letter-spacing: 2px !important;
    text-decoration: none !important;
}

.button28:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);

}

.button28::after {
    content: '___';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button28:hover::after {
    opacity: 0;
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
}
