/** CODE COULEUR 
vert : 28542a
marron : 63472b
blanc : e2ffad
*/

@font-face {
    font-family: 'Exo-Thin';
    src: url('../fonts/Exo-Thin.ttf')
}

@font-face {
    font-family: 'Exo-Black';
    src: url('../fonts/Exo-Black.ttf')
}

@font-face {
    font-family: 'Exo-Regular';
    src: url('../fonts/Exo-Regular.ttf');
}

@font-face {
    font-family: 'Exo-Medium';
    src: url('../fonts/Exo-Medium.ttf');
}

body {
    background-color: rgba(68, 68, 68, 0.1);
}

#content {
    background-position: center;
    background-image: url('../images/tech-rings.png');
    background-size: 60vh;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    position: fixed;
    animation: rotate 160s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg);
    }
}

h2 {
    font-family: 'Exo-Thin';
}

/* Page lancodex */
div.conteneur-lanco{
    margin-top: -3vw;
}

div.gallery:nth-child(1){
    margin-left: 5vw;
}

div.gallery {
    margin: 0.5vw 0vw 0.5vw 1.2vw;
    border: 1px solid #ccc;
    float: left;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background: rgba(68, 68, 68, 0.4);
    border: inset 2px #444;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 5px #444;
}

div.gallery:hover {
    background: rgba(68, 68, 68, 0);
    border: inset 2px lightgreen;
    box-shadow: 0 0 15px rgba(68, 68, 68, 0.8);
    cursor: pointer;
}

div.gallery img {
    position: relative;
    vertical-align: middle;
    align-content: center;
    left: 33px;
    top: 33px;
    max-height: 6em;
    max-width: 6em;
}

/* Page de quizz */

/* partie logo*/

#table-quizz td {
    padding: 20px;
    border: none;
    width: 20vw;
    height: 20vh;
}

#table-quizz img {
    max-height: 20vh;
}

/* partie nom */

.quizz-list {
    list-style: none
}

.quizz-list li {
    font-family: 'Exo-Medium';
    background: rgba(68, 68, 68, 0.3);
    border-radius: 8px;
    padding: 1vh;
    margin-bottom: 1vh;
}

.quizz-list li input {
    margin-right: 10px;
}

.quizz-conteneur {
    margin-left: 10vw;
    margin-top: -5vh !important;
}

#submit-quizz {
    margin-left: 25vw;
    background: rgba(40, 84, 42, 0.8);
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 10vw;
    text-align: center;
    color: #f2f2f2;
    transition: 0.3s;
}

#submit-quizz:hover {
    background: rgba(40, 84, 42, 0.9);
    color: #f2f2f2;
}

/* Permet de changer la saturation d'un logo pour les mauvaises réponses */

.satur1 {
    filter: hue-rotate(80deg);
}

.satur2 {
    filter: hue-rotate(220deg) grayscale(50%);
}

.satur3 {
    filter: hue-rotate(300deg);
}

/* Page résultat des quizz */

.resultat-quizz-conteneur-ok{
    background: rgba(255,255,255,0.5);
    color: rgba(40,84,42,0.7);
    padding: 2vw;
    margin: 10vw;
    width: 40vw;
    text-align: center;
    font-family: 'Exo-Black';
    height: auto;
}

.resultat-quizz-conteneur-nop{
        background: rgba(255,255,255,0.5);
    color: rgba(90,44,42,0.7);
    padding: 2vw;
    margin: 10vw;
    width: 40vw;
    text-align: center;
    font-family: 'Exo-Black';
    height: auto;
}

.resultat-quizz-conteneur-nop>a.suivant-quizz-resultat{
    font-family: 'Exo-Medium';
    background: rgba(90,44,42,0.9);
    color: white;
    margin: 10px;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
}

.resultat-quizz-conteneur-nop>a.suivant-quizz-resultat:hover{
    background: rgba(90,44,42,0.5);
}

/* Page du listing des cours */

.conteneurCours {
    margin-left: 13vw;
    margin-right: 13vw;
    width: auto;
    padding: 10px;
    background: rgba(68, 68, 68, 0.1);
    font-family: 'Exo-Regular';
    text-align: justify;
}

.conteneurCours h2 {
    font-family: 'Exo-Medium'
}

.conteneurCoursListe {
    margin-left: 15vw;
}

.listeCours {
    list-style: none;
    margin-left: 5vw;
}

.listeCours a:hover {
    text-decoration: none;
}

.listeCours li {
    background: rgba(68, 68, 68, 0.5);
    border-radius: 0px 5px 5px 0px;
    color: white;
    padding: 1vh;
    text-align: center;
    width: 50%;
    margin-bottom: 1vh;
    transition: 0.3s;
}

.listeCours li:hover {
    background: rgba(68, 68, 68, 0.6);
    width: 55%;
}


/* Page description d'un langage (fiche.html) */

td:nth-child(1),
td:nth-child(2) {
    border-right: solid 2px rgba(68, 68, 68, 0.2);
}

.box-lien {
    background: rgba(68, 68, 68, 0.2);
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s ease-in-out
}

.box-lien:hover {
    background: rgba(68, 68, 68, 0.2)
}

.blur {
    filter: blur(5px);
}

.blur>a{
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    text-shadow: (0px 0px 50px);
}

td {
    text-align: center;
}

th {
    width: 12em;
    font-family: 'Exo-Black';
    font-size: 20px;
    background: rgba(68, 68, 68, 0.1);
    border-radius: 50px;
}

th:last-child {
    width: 23em;
}

td,
th {
    padding: 15px;
}

table {
    border-radius: 25px;
    margin-left: 12em;
    font-family: 'Exo-Regular';
    background: rgba(48, 48, 48, 0.1);
}

table a {
    padding: 10px;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

table a:hover {
    text-decoration: none;
    color: rgba(40, 84, 42, 0.7);
    text-shadow: 3px 1px 9px white;
}

table img {
    transition: all 0.4s;
}

#description img:hover {
    filter: drop-shadow(0 0 6px black)
}

#libelle-desc {
    font-family: 'Exo-Medium';
    font-size: 20px;
}

.case-description img {
    height: 150px;
    width: auto;
}

.arrow-back {
    position: fixed;
    top: 35vh;
    left: 7vw;
    text-align: center;
    font-size: 38px;
    color: rgba(40, 84, 42, 0.9);
    transition: all 0.2s ease-in-out;
}

.arrow-back:hover {
    color: rgba(40, 84, 42, 0.8);

    text-shadow: 0 8px 2px rgba(68, 68, 68, 0.5);
}

/* Page tutoriel élément particuliers */

.elementLanca {
    position: fixed;
    display: none;
    left: 60em;
    top: 25em;
    background: rgb(68, 68, 68, 0.5);
    border: inset 2px #444;
    border-radius: 50%;
    height: 10em;
    width: 10em;
    box-shadow: 0 0 25px #444;
}

.imageLanca {
    max-height: 7em;
    max-width: 7em;
    object-fit: fill;
    margin: 1.6em;
}

.dinoTuto {
    height: 20em;
    position: fixed;
    left: 60em;
    top: 25em;
}

/* Permet de rendre une image entièrement noire */

.locked {
    filter: brightness(00%);
    -webkit-filter: brightness(00%);
    -moz-filter: brightness(00%);
    -o-filter: brightness(00%);
    -ms-filter: brightness(00%);
}

/* DINO PAGE TUTO CONCEPT */

.newDino {
    position: fixed;
    left: 30%;
    top: 19em;
}

.dinoBubbleN {
    position: fixed;
    left: 35em;
    width: 30em;
    max-height: 20em;
}

.speech-bubbleN {
    position: fixed;
    background: rgba(40, 84, 42, 0.8);
    border-radius: .4em;
    min-height: 5.85em;
    padding: 0.5xem;
    min-width: 20em;
    max-width: 60em;
}

.speech-bubbleN:after {
    content: '';
    position: absolute;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: rgba(40, 84, 42, 0.8);
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

.speechN {
    color: #f2f2f2;
    margin: 1.5em;
}

#fleche-suiv {
    color: #444;
    width: 5vw;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    background: rgba(68, 68, 68, 0.3);
    position: absolute;
    right: 0;
    margin: 59px 10px 0px 0px;
    padding-bottom: 2px;
    animation: arrowK 1s infinite;
    transition: all 0.3s ease-in-out;
}

#fleche-suiv:hover {
    background: rgba(68, 68, 68, 0.2);
}

#fleche-menu {
    line-height: 20px;
    vertical-align: baseline;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    margin: -28px 10px 0px 0px;
    padding-bottom: 2px;
    font-size: 2rem;
    animation: arrowM 3s infinite;
}

@keyframes arrowM {
    0% {
        color: #f2f2f2;
    }
    50% {
        color: darkorange;
    }
    100% {
        color: #f2f2f2;
    }
}

@keyframes arrowK {
    0% {
        border-right: 1px solid #444;
    }
    50% {
        border-right: 1px solid transparent;
    }
    100% {
        border-right: 1px solid #444;
    }
}

#fleche-suiv:hover {
    color: #f2f2f2;
    font-size: 16px;
    animation-play-state: paused;
    cursor: pointer
}

a.lien {
    color: rgba(28, 28, 28, 1);
}

/* DINO SUR LA PLUPART DES PAGES */

.dino {
    position: fixed;
    bottom: 0;
    left: 5vw;
}

.dino-message {
    display: none;
}

.speech-bubble {
    position: fixed;
    bottom:4.5vw;
    color: #f2f2f2;
    font-size: 16px;
    left: 18vw;
    background: rgba(40, 84, 42, 0.8);
    border-radius: .4em;
    min-height: 4em;
    padding: 0.5em;
    min-width: 20em;
    max-width: 70%;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 1px;
    top: 50%;
    width: 0;
    height: 0;
    border: 1.875em solid transparent;
    border-right-color: rgba(40, 84, 42, 0.8);
    border-left: 0;
    border-top: 0;
    margin-top: -0.937em;
    margin-left: -1.875em;
}

.bulle-dino {
    text-align: justify;
    margin: 0.6em;
}

#inscription-link {
    line-height: 50px;
    color: #f2f2f2 !important;
    text-decoration: none !important;
    transition: all ease-in-out 0.5s !important;
}

#inscription-link:hover {
    color: #18913a !important;
    text-decoration: underline !important;
}

.bg-light {
    background-color: #f1f1f1;
}

.logout-link {
    color: #444 !important
}

.navbarLanco {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    margin: 0.6em 0 0 2em;
    font-size: 36px;
    color: #28542a
}

.hexagon {
    position: relative;
    width: 90px;
    height: 51.96px;
    margin: 25.98px 0;
    background-image: url("../images/codex.png");
    background-size: auto 96.9948px;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    border-left: solid 3px rgba(40, 84, 42);
    border-right: solid 3px rgba(40, 84, 42);
    transition: all 0.5s ease-in-out;
}

.hexagon:hover {
    box-shadow: 0 0 25px 5px #18913a;
}

.hexcriture:hover {
    text-shadow: 0 0 5px #18913a;
}

.hexTop,
.hexBottom {
    position: absolute;
    z-index: 1;
    width: 63.64px;
    height: 63.64px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 10.18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

/*counter transform the bg image on the caps*/

.hexTop:after,
.hexBottom:after {
    content: "";
    position: absolute;
    width: 84.0000px;
    height: 48.49742261192856px;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-24.2487px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-24.2487px);
    transform: rotate(45deg) scaleY(1.7321) translateY(-24.2487px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.hexTop {
    top: -31.8198px;
    border-top: solid 4.2426px #333333;
    border-right: solid 4.2426px #333333;
}

.hexTop:after {
    background-position: center top;
}

.hexBottom {
    bottom: -31.8198px;
    border-bottom: solid 4.2426px #333333;
    border-left: solid 4.2426px #333333;
}

.hexBottom:after {
    background-position: center bottom;
}

.hexagon:after {
    content: "";
    position: absolute;
    top: 1.7321px;
    left: 0;
    width: 84.0000px;
    height: 48.4974px;
    z-index: 2;
    background: inherit;
}

.hexcriture {
    margin-left: 3em;
    font-family: 'Exo-Thin';
    letter-spacing: 12px;
    transition: all 0.5s ease-in-out
}

.main-content {
    padding-top: 13em;
}

.conteneur-central {
    box-shadow: 2px 3px 5px 1px black;
    color: #f3f3f3;
    text-align: center;
    margin-left: 24vw;
    width: 30vw;
    border: solid 0.1em #444;
    border-radius: 5px;
    background: rgb(63, 63, 63);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(63, 63, 63, 1) 0%, rgba(48, 48, 48, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(63, 63, 63, 1) 0%, rgba(48, 48, 48, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(63, 63, 63, 1) 0%, rgba(48, 48, 48, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#303030', GradientType=1);
}

.conteneur-central input {
    margin-top: 4px;
    background: rgba(210, 210, 210, 0.1);
    border-radius: 8px !important;
    transition: all 0.3s;
}

.conteneur-central button {
    margin-top: 18px;
    color: #444;
    transition: 0.4s ease-in-out;
}

.conteneur-central button:hover {
    background: #18913a;
    color: #f2f2f2
}

.form-signin {
    width: 60%;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-control:focus {
    border-color: #18913a !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(24, 145, 58, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(24, 145, 58, .6) !important;
}

.go-back-arrow {
    line-height: 3em;
    margin-bottom: 0.3em;
    vertical-align: text-top;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    color: #f2f2f2;
    border-color: #18913a !important;
}

.form-control:hover,
.form-control:focus {
    background: rgba(210, 210, 210, 0.2)
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2em
}

.footer-component {
    text-align: right;
    float: right;
}

.main-menu {
    list-style: none
}

.conteneur-menu {
    width: 32vw;
    padding-top: 15vh;
    margin-left: 22vw;
    text-align: center;
}

.conteneur-menu h2 {
    margin-left: 4.8vw;
    font-family: 'Exo-Black';
    text-align: center;
}

.menu-btn {
    font-size: 38px;
    font-family: "Exo-Medium";
    color: #444 !important;
    border: 1px;
    width: 100%;
}

.sim-button {
    line-height: 60px;
    cursor: pointer;
}

a.sim-button:hover {
    text-decoration: none;
}

.button28 {
    color: rgba(68, 68, 68, 1);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

a .button28 {
    color: rgba(255, 255, 255, 1);
    text-decoration: none !important;
    display: block;
}

.button28::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(68, 68, 68, 0.5);
    border-bottom-color: rgba(68, 68, 68, 0.5);
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);

}

.button28 a:hover {
    letter-spacing: 2px !important;
    text-decoration: none !important;
}

.button28:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);

}

.button28::after {
    content: '___';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button28:hover::after {
    opacity: 0;
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
}
