<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {% block title %} Simpléduc - Gestion des projets {% endblock %}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.ico" /> {% block style %} {% endblock %}
</head>
<body>
    {% block body %}
    <a href="index.php">
        <div class="navbarLanco">
            <div class="hexagon">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
                <div class="hexcriture">LANCODEX</div>
            </div>
        </div>
    </a>
    <div class="main-content">
        <div class="center-block col-md-10" style="float:none">

            {% block contenu %} {% endblock %}


        </div>
    </div>
    {%if session.login is defined %}
    <img src="images/dino.png" alt="Un dragon-dino" class="dino" style="height: 200px">
    <div class="speech-bubble">
        <div class="bulle-dino">
          {% for e in listeIndices %}
            <p class="dino-message message-{{e.id}}">{{e.libelle | convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
          {% endfor %}
        </div>
    </div>
    <div class="footer">
        <a class="logout-link footer-component" href="index.php?page=deconnexion">Se déconnecter <span class="glyphicon glyphicon-log-out"></span></a></div> {% endif %} {% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js"><\/script>')

    </script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // on récupère la taille du tableau
        size = {{ listeIndices|length }};

        // fonction permetta d'afficher un message aléatoirement
        function randomMessage(size) {
            // récupération d'un id entre 1 et la taille du tableau
            id = Math.floor(Math.random() * size) + 1;
            // affichage du message concernant l'id récupéré
            $(".dino-message").css("display","none");
            $(".dino-message.message-"+id).css("display", "block");
        }
        // affichage d'un premier message
        randomMessage(size);
        // modification du message toutes les 5 secondes
        setInterval(function() {
            randomMessage(size);
        }, 5000);
    </script>
</body>

</html>
