<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {% block title %} Simpléduc - Gestion des projets {% endblock %}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.ico" /> {% block style %} {% endblock %}
</head>

<body>
    {% block body %}
    <a href="index.php">
        <div class="navbarLanco">
            <div class="hexagon">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
                <div class="hexcriture">LANCODEX</div>
            </div>
        </div>
    </a>
    <div class="main-content">
        <div class="center-block col-md-10" style="float:none">

            {% block contenu %} {% endblock %}


        </div>
    </div>
    {%if session.login is defined %}
    <img src="images/dino.png" alt="Un dragon-dino" class="dino" style="height: 200px">
    <div class="speech-bubble">
        <div class="bulle-dino">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
        </div>
    </div>
    <div class="footer">
        <a class="logout-link footer-component" href="index.php?page=deconnexion">Se déconnecter <span class="glyphicon glyphicon-log-out"></span></a></div> {% endif %} {% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js"><\/script>')

    </script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
