{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Choix {% endblock %}
       
{% block contenu %} 

   <div class="conteneur-menu">
            <ul class="main-menu">
                <li><a class="sim-button button28 menu-btn" id="button-5" href="index.php?page=lancodex">Votre <i>lancodex</i></a></li>
                <li><a class="sim-button button28 menu-btn" href="index.php?page=apropos">Le concept</a></li>
            </ul>
        </div>
{% endblock %}

{% block dino %} {% endblock %}  



