{% extends "base.html.twig" %} {% block title %} {{ parent() }} Accueil - S'inscrire {% endblock %} {% block contenu %}
<div class="conteneur-central">
    {% if form.valide is defined %} {% if form.valide == true %}
    <h1 class="h3 mb-3 font-weight-normal">Inscription réussie</h1>
    <h1 class="h3 mb-3 font-weight-normal">Voici votre identifiant : {{form.email}}</h1>
    {% if form.role == 1 %}
    <h1 class="h3 mb-3 font-weight-normal">Vous êtes administrateur du site</h1>
    {% else %}
    <h1 class="h3 mb-3 font-weight-normal">Vous êtes un utilisateur du site </h1>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal"><a href="index.php">Connectez-vous</a></h1>
    {% else %}
    <h1 class="h3 mb-3 font-weight-normal">Echec de l'inscription</h1>
    <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
    <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=inscrire">Retourner sur la page d'inscription</a></h1>
    {% endif %} {% else %}
    <form class="form-signin" action="index.php?page=inscrire" method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous</h1>
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" placeholder="Confirmation mot de passe" required> {# Nom et prénom #}
        <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" required>
        <input type="prenom" id="prenom" name="prenom" class="form-control" placeholder="Prénom" required>
        <button class="btn btn-lg  btn-block" type="submit" name="btInscrire">S'inscrire</button>
    </form>
    <a class="go-back-arrow " href="index.php"><i class="glyphicon glyphicon-circle-arrow-left"></i> Se connecter</a>
</div>
{% endif %} {% endblock %}
