{% extends "base.html.twig" %}{% block title %} {{ parent() }} Quizz {% endblock %} {% block contenu %}
<div class="quizz-conteneur">
<h2>Quelle est la bonne image ?</h2>
<form action="" onsubmit="redirect(index.php?page=quizz);return false;">
    <table id="table-quizz">
        <tr class="quizz">
            <td>
                <input name="choix" type="radio"><img class="satur1" src="images/php.png" alt=""></td>
            <td><input name="choix" type="radio"><img class="satur2" src="images/php.png" alt=""></td>
        </tr>
        <tr class="quizz">
            <td>
                <input name="choix" type="radio"><img class="satur3"src="images/php.png" alt=""></td>
            <td><input name="choix" type="radio"><img src="images/php.png" alt=""></td>
        </tr>
        <input type="submit" id="submit-quizz" value="Suivant">
    </table>
</form>
</div>
{% endblock %} {%block dino%}{%endblock%}